header {
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: blanchedalmond;
    padding: 20px;

}

header img {
    border-radius: 50%;
}

header h2 {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body nav ul {
    margin: 0;
    padding: 0;
}
nav {
    background-color:rgb(255, 213, 151);
}

nav ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;

}